SUBSYSTEM=="usb", ATTRS{idVendor}=="0fe6", ATTRS{idProduct}=="811e", MODE="0664", GROUP="dialout"
SUBSYSTEM=="usb", ATTRS{idVendor}=="811e", ATTRS{idProduct}=="0fe6", MODE="0664", GROUP="dialout"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="0fe6", ATTRS{idProduct}=="811e", MODE="0664", GROUP="dialout"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="811e", ATTRS{idProduct}=="0fe6", MODE="0664", GROUP="dialout"
